@import "tailwindcss";

@layer   antd, theme, base, components, utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: white;
        margin: 5px 0;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #1677ff;
        border-radius: 100vh;
        border: 3px solid #1677ff;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}